@tailwind base;
@tailwind components;
@tailwind utilities;

.text-input {
	@apply h-[42px] min-w-36 cursor-pointer rounded-md border border-lightGray px-4 py-2 text-base hover:border-darkGreen focus:border-darkGreen focus:outline-none focus:ring-0 focus:ring-darkGreen active:border-darkGreen;
}

.radio-input-container {
	@apply flex h-[42px] min-w-[190px] flex-1 flex-row items-center rounded-md border px-4 py-2 text-base;
}

.radio-input:checked + span:before {
	opacity: 1;
}

.radio-input:checked + span {
	border-color: hsl(169, 82%, 27%);
}

.not-active {
	border-color: hsl(186, 15%, 59%);
	background-color: #fff;
}

.active {
	border-color: hsl(169, 82%, 27%);
	background-color: hsl(148, 38%, 91%);
}

.text-area {
	@apply w-full cursor-pointer resize-none rounded-md border border-lightGray px-4 py-2 text-base text-darkGray hover:border-darkGreen focus:border-darkGreen focus:outline-none focus:ring-0 focus:ring-darkGreen active:border-darkGreen;
}

.checkbox-input:checked + span {
	border-color: hsl(169, 82%, 27%);
	transition: transform 0.5s ease;
}

.checkbox-input + span:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url('./img/icon-checkbox-check.svg');
	background-size: cover;
	background-repeat: no-repeat;
	transform: scale(0);
	transform-origin: center;
	transition: transform 0.5s ease;
}

.checkbox-input:checked + span:before {
	transform: scale(1.1);
}
